:root {
    --dimension: 1.56%;
    --color: black;

}


* {
    box-sizing: border-box;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #d9caab;
}

header {
    text-align: center;
    margin: 2rem 0;
    
    padding: 1rem;
}

main {
    display: flex;
    justify-content: space-between;
    
}

.menu {
    border: 3px solid black;
    border-radius: 15px;
    width: 25rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    list-style-type: none;
    border: 2px solid black;
    width:10rem;
    height: 60%;
    margin-top: 3rem;
    
}



.grids{
    margin-right: 3rem;
    margin-bottom: 3rem;
    width: 43rem;
    height:43rem;

    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
    justify-content:flex-start;
    
    
    

}

.grids * { 
    border: 1px solid black;
    
   
    flex-grow: 1;
    
    
   
    
}

.box {
    width:var(--dimension);
    background-color:#d9caab;
}

.box:hover {
    background-color: black;
}

.blue {
    background-color: var(--color);
}